<!DOCTYPE html>
<html>
    <head>
        <style>
            #map {
                height: 400px;
                width: 100%;
            }
        </style>
        <link rel="stylesheet" href="/static/css/bulma.css" type="text/css" media="screen" title="Bulma" charset="utf-8">
        <title>MapThingy</title>
        <script src="/static/js/lodash.min.js" charset="utf-8"></script>
        <script src="/static/js/zepto.min.js" charset="utf-8"></script>
        <script src="/static/js/api.js" charset="utf-8"></script>
        <script>
            var markers = [];
            var map;

            function posFromApi(pos) {
                return {
                    lat: pos.latitude,
                    lng: pos.longitude
                }
            }

            function showMarker(map, pos, title) {
                var marker = new google.maps.Marker({
                    position: posFromApi(pos),
                    map,
                    title
                });
                var contentString = title + ': ' + pos.ip;
                var infowindow = new google.maps.InfoWindow({
                  content: contentString
                });
                marker.addListener('click', function() {
                  infowindow.open(map, marker);
                })
                markers.push(marker);
            }

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: { lat: 37.773972, lng: -122.431297 } // San Francisco
                });

                API.start("localhost:8888/wsapi/", function() {
                    console.log("Ready to map stuff!");
                }, function(position, title) {
                    showMarker(map, position, title);
                });
            }

            function clearMap() {
                _.each(markers, function (e) {
                    e.setMap(null);
                });

                markers = [];
            }

            function findOne(hostname) {
                hostname = hostname || $("#input-one").val()
                API.getHostPosition(hostname);
            }

            function findAll() {
              let inputValue = $("#input-one").val().split(', ');
              inputValue.forEach( host => {
                findOne(host);
              })
                // TODO: implement searching of comma-separated values
            }
        </script>
    </head>
    <body>
        <h1>IP Mapper</h1>
        <div class="section" id="map"></div>
        <div class="section">
            <div class="container">
                <div class="field">
                    <label class="label">Where is it?</label>
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <input class="input" id="input-one" type="text" placeholder="IP address or hostname">
                        </div>
                        <div class="control">
                            <button onclick="findOne()" class="button is-link" id="find-one">Find</button>
                        </div>
                        <div class="control">
                            <button onclick="findAll()" class="button is-link" id="find-all">Find All</button>
                        </div>
                        <div class="control">
                            <button onclick="clearMap()" class="button is-link" id="find-many">Clear Map</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&callback=initMap"></script>
</html>
